beautifulsoup4==4.6.0
bleach
boto==2.48.0
bs4==0.0.1
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
Cython==0.27.3
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.7.1
docutils==0.13.1
enum34==1.1.6
ftfy==4.4.3
fuzzywuzzy==0.15.1
gensim==3.1.0
h5py==2.7.1
html5lib
idna==2.6
Keras
lxml==4.6.5
Markdown==2.6.9
matplotlib
msgpack-numpy==0.4.1
msgpack-python
murmurhash==0.28.0
networkx==2.0
numpy==1.13.3
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2017.3
pyyaml>=4.2b1
rdflib
regex==2017.4.5
requests==2.20.0
scikit-learn==0.19.1
scipy==1.0.0
sklearn==0.0
smart-open==1.5.3
spacy==2.0.10
termcolor==1.1.0
thinc
toolz==0.8.2
tqdm==4.19.4
ujson==1.35
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.10.11
